* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.balance {
  background-color: #f8f4f1;
  width: 90%;
  border-radius: 10px;
  margin: 20px auto;
  padding: 15px;
}
.balance__title {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #6f6f6f;
}
.total__money {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 31px;
  line-height: 37px;
  color: #f37335;
}
.other__money {
  display: flex;
  width: 80%;
  margin-top: 10px;
}
.money {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #4a4948;
  margin-top: 5px;
}
.from__travelers {
  border-left: 1px solid #bfbfbf;
  padding-left: 15px;
}
.from__sales {
  padding-right: 15px;
}
.information {
  width: 90%;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.today__money,
.week__money,
.month__money {
  text-align: center;
  width: 30%;
  height: 52px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.today__money {
  background-color: #f7fcfd;
}
.week__money {
  background-color: #f4f4f8;
}
.month__money {
  background-color: #e7f7ef;
}
.info__money {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.history {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #6f6f6f;
  text-align: center;
  margin: 30px 0;
}
.history__order {
  width: 90%;
  margin: auto;
}
.infor__order {
  width: 100%;
  border-left: 10px solid #ffbb0b;
  border-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 15px 15px 5px 15px;
  margin: 20px 0;
}
.top__order-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.order__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #6f6f6f;
  margin-top: 10px;
}
.order__money {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #03a400;
}
.order__link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #9f9f9f;
}
.order__date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #9f9f9f;
  text-align: right;
}
.cashbox {
  width: 90%;
  margin: 20px auto;
  padding-top: 20px;
}
.cashbox__order {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #9f9f9f57;
}
.order__img{
  background-image: url(../images/Rectangle_3.png);
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.refresh_btn{
  background-image: url(../images/Vector.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}
.img__order {
  background-image: url(../images/Rectangle_46.png);
  width: 70px;
  height: 75px;
  background-position: center;
  background-repeat: space;
}
.images__order {
  display: flex;
  margin: 2px;
  width: 40%;
}
.basket {
  margin: auto;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.basket__count {
  margin-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #8a8a8a;
}
.basket__img {
  background-image: url(../images/basket.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
}
.left__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.right__content {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.basket__top {
  display: flex;
  justify-content: space-between;
}
.basket__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #5e5e5e;
}
.basket__price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18.375px;
  line-height: 22px;
  color: #8a8a8a;
}
.about__order {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #5e5e5e;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
}
.status__order {
  text-align: right;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #0a9f07;
}
.about__order-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.paid {
  color: #0a9f07 !important;
}
.no__paid {
  color: #3576f3 !important;
}
.pending {
  color: #f38300 !important;
}
.status__img {
  background-image: url(../images/Group_359.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.issue {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  margin-top: 3%;
  padding: 15px;
}
.functional__buton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #9f9f9f57;
}
.exit__btn {
  width: 15px;
  height: 15px;
  text-decoration: none;
}
.number__order {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
}
.none__dsp {
  width: 15px;
  height: 15px;
}
.info__order {
  border-bottom: 1px solid #9f9f9f57;
  padding: 20px 0;
}
.inline__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__descriprion {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #434343;
  margin-top: 10px;
}
.more__description {
  font-weight: normal;
  margin: 10px 0;
}
.order__list {
  padding-top: 20px;
  display: flex;
}
.element__list {
  display: flex;
  width: 100%;
}
.element__list-description {
  width: 100%;
  height: 80px;
  padding-left: 10px;
}
.order__list-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.order__list-title::after {
  content: " x3";
  color: #9f9f9f;
}
.order__list-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
  margin-top: 10px;
}
.cheked {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 400px) 
{

  .cashbox__order {
    box-sizing: border-box;
    width: 75%;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-top: 1px solid #9f9f9f57;
  }
  .o
  .inline__info {
    display: block;
    margin: 20px 0;
  }
}

.myForm1 {
  position: relative;
}
.myForm1 input {
  display: none;
}
.myForm1 label {
  float: left;
  line-height: 1.4;
}
.myForm1 label::before {
  width: 20px;
  height: 20px;
  border: 1px solid #9f9f9f;
  background-color: #9f9f9f;
  border-radius: 5px;
  content: "";
  float: left;
  margin: 0 10px;
  cursor: pointer;
}
.myForm1 input[type="checkbox"]:checked + label::after {
  display: block;
}
.myForm1 label::after {
  width: 20px;
  height: 20px;
  display: none;
  top: -5;
  left: 10px;
  content: "✔";
  color: #fff;
  position: absolute;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #f38300;
  background-color: #f38300;
  text-align: center;
}
.button__order {
  width: 100%;
  height: 50px;
  background: #ff9f15;
  box-shadow: 0px 0px 5px rgba(255, 159, 21, 0.1);
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.4;
  border: none;
  margin-top: 20px;
}
